<div class="card">
  <div class="card-divider card-header shopping-list-header">
    <h1>Recipe</h1>
  </div>
  <div class="card-section">
    <div class="recipe" *ngIf="recipe">
      <h1>{{recipe.name}}</h1>
      <hr />
      <div class="recipe-description">
        <h2>Description</h2>
        <div class="grid-x">
          <div class="cell medium-5">
            <markdown>{{recipe.description}}</markdown>
          </div>
          <div class="cell medium-5 medium-offset-2">
            <img src="{{recipe.image}}" alt="{{recipe.name}}" />
          </div>
        </div>
      </div>
      <hr />
      <div class="recipe-ingredients">
        <h2>Ingredients</h2>
        <ul *ngIf="ingredients">
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.amount}}{{ingredient.unit}} {{ingredient.ingredient.name}}
          </li>
        </ul>
      </div>
      <hr />
      <div class="recipe-steps">
        <h2>Steps</h2>
        <markdown>{{recipe.steps}}</markdown>
      </div>
      <hr />
      <div class="expanded medium-collapse button-group">
        <a class="button primary" onclick="history.back()">Go back</a>
        <a *ngIf="isAdmin" class="button alert" (click)="delete()">Delete</a>
        <a *ngIf="isAdmin" class="button secondary" [routerLink]="['/recipes/edit', recipe.id]">Edit</a>
      </div>
      <p class="recipe-meta text-right">
        ID: {{recipe.id}}, Created: {{recipe.created | date:'dd. MMMM yy'}}
      </p>
    </div>
  </div>
</div>
