<div class="card">
  <div class="card-divider card-header">
    <h1>Create a Shopping Item</h1>
  </div>
  <div class="card-section">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" novalidate>
      <label>Name:
        <input type="text" formControlName="name">
      </label>
      <label>Estimated price:
        <input type="number" formControlName="estprice">
      </label>
      <input type="submit" [disabled]="!itemForm.valid" class="button primary">
    </form>

    <p>{{ itemForm.value | json }}</p>
    <p>{{ itemForm.status | json }}</p>
  </div>
</div>
