<div class="card">
  <div class="card-divider card-header shopping-list-header">
    <h1>Shopping items</h1>
  </div>
  <div class="card-section">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Estimated price</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.item_id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.estprice | currency:'DKK':true:'1.2-2'}}</td>
        <td><a class="button alert" (click)="deleteItem(item)">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <a [routerLink]="['/shopping-list/items/create']" class="button primary">Create new item</a>
  </div>
</div>
