<div class="card">
  <div class="card-divider card-header shopping-list-header">
    <h1>Ingredients</h1>
  </div>
  <div class="card-section">
    <table class="">
      <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Estimated price</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of ingredients">
        <td><img src="{{ingredient.image}}" alt="{{ingredient.name}}" /></td>
        <td>
          <a [routerLink]="['/ingredients/', ingredient.id]">
            {{ingredient.name}}
          </a>
        </td>
        <td>{{ingredient.estprice | currency:'DKK':true:'1.2-2'}}</td>
        <td><a class="button alert" (click)="console.log('Delete:'+ ingredient.id)">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <a [routerLink]="['/ingredients/create']" class="button primary">Add a new ingredient</a>
  </div>
</div>
