@import "main";

@include foundation-everything(true);

$style-border-radius: 0.25em;

.button {
  border-radius: $style-border-radius;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.card-header {
  background: #3183be;
  color: #ffffff;
  padding: 0.5rem 1rem;

  @include breakpoint(medium up) {
    border-top-left-radius: $style-border-radius;
    border-top-right-radius: $style-border-radius;
  }

  h1 {
    font-size: x-large;
  }
}

.card {
  border: 0.01em solid #3183be;

  @include breakpoint(medium up) {
    border-radius: 0.25em;
  }
}
